<!doctype html>

<html>
  <head>
    <title><%= yourName %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="<%= yourPrimaryColor %>">

    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/bower_components/poly-me/poly-me.html">
  </head>
  <body>
    <poly-me src="me.json"></poly-me>
  </body>
</html>
